// Header Styles
// ========================================


//////// MODAL ////////

.modal-header {
  height: 80px;
  width: 100%;
  position: relative;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: #F8CA4D;
  display: flex;
  justify-content: space-between;
}

.modal-logo {
  height: 50px;
}

.close-button {
  position: relative;
  bottom: 15px;
  left: 50px;
  color: #FFFFFF;
}


//////// PODCAST ////////

.profile-header-image {
  background: -moz-linear-gradient(top, rgba(63,86,102,.8) 0%, rgba(63,86,102,.4) 59%, rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,86,102,.8)), color-stop(59%,rgba(63,86,102,.4)), color-stop(100%,rgba(255,255,255,.2))), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -webkit-linear-gradient(top, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -o-linear-gradient(top, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -ms-linear-gradient(top, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: linear-gradient(to bottom, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center;
  -webkit-background-size: cover;    
  -moz-background-size: cover;
  background-size: cover;
  height: 350px;
}

.profile-information {
  color: #FFFFFF;
  text-align: left;
}

.profile-top {
  display: flex;
}

.profile-title {
  font-weight: 500;
  letter-spacing: 3.04px;
  margin-top: 50px;
  margin-bottom: 0;
}

.profile-sub-text {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

.profile-classification {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1.6px;
}

.profile-rating {
  color: #F8CA4D;
  font-size: 30px;
  margin: 50px auto 0 auto;
}

.profile-rating i {
  padding-right: 5px;
  padding-left: 5px;
}