// Header Styles
// ========================================


//////// MODAL ////////

.modal-header {
  height: 80px;
  width: 100%;
  position: relative;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: #F8CA4D;
  display: flex;
  justify-content: space-between;
}

.modal-logo {
  height: 50px;
}


//////// PODCAST ////////