/* HOVER ICON */

.episode i.fa-play-circle {
  position: absolute;
  margin: auto;
  font-size: 58px;
  color: #EAEAEA;
  top: 35%;
  left: 40%;
  z-index: 1;
  opacity: 0;
}

i.fa-play-circle:hover {
  //opacity: 1;
}

/* BIO STATS */

.profile-stats {
  display: flex;
}

.stat-box {
  height: 100px;
  width: 33%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  text-align: center;
  margin: 40px 0;
}

.middle-box {
  margin: 40px;
}

.stat-number {
  font-weight: 600;
  margin-bottom: 0;
}

.stat-title {
  font-weight: 100;
  margin-top: 0;
}

/* BIO */

.profile-bio {
  text-align: left;
}

.bio-title {
  font-weight: 600;
  margin: 0;
}

.bio-text,
.homepage,
.schedule {
  font-weight: 100;
  margin: 4rem 0;
}

.bio-text {
  line-height: 25.9px;
}

.homepage a {
  color: #70C5AF;
}

span.info-emphasis {
  color: #3F5666;
  font-weight: 600;
}