/* SEARCH NAV BAR */

div.search-page-bar {
  width: 550px;
  margin-right: 0;
}

.search-section {
  margin: 40px 0;
}

/* RESULTS */

.search-results {
  margin-top: 40px;
  
}

.search-results .image-overlay {
  height: 250px;
  width: 250px;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  
  div.search-page-bar{
    margin: auto;
  }
  
  .search-section {
    margin: 0;
    margin-bottom: 40px;
  }
  
  .profile-navigation.search-nav {
    margin: 40px 20px;
  }
  
}

@media (max-width: 414px) {
  .search-section .search-page-bar {
    width: 300px;
  }
  
  .profile-navigation.search-nav a {
    font-size: 12px;
    margin: 0 20px;
  }
  
  .profile-navigation.search-nav {
    display: inline;
  }
  
  .profile-link a:hover,
  .profile-link a:active {
    border-bottom: none;
    color: #EA6045;
}
  
  }
