/* HERO CONTENT */

.hero {
    background: #3F5666 url("../images/header_image.png") no-repeat center;
    -webkit-background-size: cover;    
    -moz-background-size: cover;
    background-size: cover;
}

.hero-image {
    text-align: center;
}

.hero-title {
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 3.04px;
    margin-top: 250px;
    padding: 0 3rem;
}

.hero-description {
    margin-bottom: 2rem;
    padding: 0 3rem;
}

/* RECOMMENDED AUDIO SECTION */

.recommended-audio {
    text-align: center;
}

.section-title {
    margin: 80px 0;
    padding: 0;
}

.recent-episode-selections {
    margin-bottom: 40px;
}

/* MOBILE APPLICATION SECTION */

.download-app {
    background: #3F5666 url("../images/app_image.png") no-repeat center;
    -webkit-background-size: cover;    
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
}

.app-tag-line {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.download-app p {
    margin-bottom: 4rem;
    padding: 0 4rem;
}

.purchase-app {
    margin-bottom: 8rem;
}

.google, .apple {
    margin: auto auto;
    padding: .5rem 1rem;
}

/* AUDIO-CREATOR CALL TO ACTION */

.creator-sign-up {
    display: flex;
}

.creator {
    margin-top: 80px;
    margin-bottom: 20px;
}

.creator-sign-up p {
    margin-bottom: 0;
}

/* FINAL CALL TO ACTION */

.final-action-call {
    background: #3F5666 url("../images/mic_image.png") no-repeat center;
    -webkit-background-size: cover;    
    -moz-background-size: cover;
    background-size: cover;
}

.action-call {
    display: flex;
    text-align: center;
}

.final-call {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.action-call p {
    margin-bottom: 0;
    padding: 0 4rem;
}

/* FOOTER */

.footer {
    background-color: rgba(0,0,0,.5);
    height: 100px;
    text-align: center;
}

img.footer-logo {
    padding: .5rem 0;
}

ul.footer-links {
    list-style: none;
    margin: auto;
    padding: 0 10px;
}

ul.footer-links a,
ul.footer-links li {
    color: #CCCCCC;
    font-size: 14px;
    font-family: 'Roboto Slab';
}

ul.footer-links a:hover {
    color: #F8CA4D;
}

ul.footer-links li {
    margin: 0 .5rem;    
}

p.copyright {
    text-align: center;
    color: #CCCCCC;
    font-size: 14px;
    margin: auto auto;
}

/* Responsive: Portrait tablets */
@media (max-width: 800px) {
  
    .download-app {
        background: linear-gradient(rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.45)),
            url(../images/app_image.png) no-repeat;
        background-size: cover;
    
    }
    
    .final-action-call {
        background: linear-gradient(rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.45)),
            url(../images/mic_image.png) no-repeat;
        background-size: cover;
    
    }
    
    .hero-title {
        font-size: 48px;
        margin-top: 150px;
    }
    
    .section-title {
        margin: 40px 0;
    }
    
    .section-title,
    .app-tag-line,
    .creator,
    .final-call {
        font-size: 38px;
    }
    
    p {
        font-size: 16px;
    }
    
    input.search-bar {
        width: 500px;
    }
    
    h6.item-creator {
    margin-bottom: 30px;
    }
  }

/* Responsive: Mobile Devices */

@media (max-width: 400px) {
    
    .hero-title {
        font-size: 38px;
        margin-top: 80px;
    }
    
    .section-title,
    .app-tag-line,
    .creator,
    .final-call {
        font-size: 32px;
    }
    
    p {
        font-size: 14px;
    }
    
    input.search-bar {
        width: 300px;
    }
    
    ul.footer-links a,
    ul.footer-links li {
        font-size: 12px;
    }
    
    .footer {
        padding: 0 1rem;
    }
}