$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* GENERAL STYLES */

html {
    text-align: center;
}

html,
body {
    overflow-x: hidden;
}

body {
  //padding-bottom: 120px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

p {
    font-family: 'Roboto Slab';
    font-size: 22px;
}

a:-webkit-any-link {
    text-decoration: none;
}

li {
    display: inline;
    margin: 0 1rem;
}

p.light-on-dark,
.light-on-dark {
    color: #FFFFFF;
}

h2 span.emphasis {
    font-weight: 700;
}

.section-title {
    font-weight: 500;
    letter-spacing: 3.04px;
    font-size: 38px;
}

/* PODCAST ICON STYLES */

.image-overlay {
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
}

.image-overlay .podcast-avatar {
  width: 100%;
  vertical-align: top;
  border-radius: 9px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.image-overlay:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    border-radius: 9px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.image-overlay:hover:after {
    opacity: 1;
    border-radius: 9px;
}

h5.item-title {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 0;
}

h6.item-creator {
    color: #333333;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 40px;
}

/* BUTTON STYLES */

button.call-to-action {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1.6px;
    background-color: #EA6045;
    margin-top: 4rem;
    margin-bottom: 8rem;
    padding: 1rem 2.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

button.call-to-action.final-btn {
    background-color: #F8CA4D;
}

button.call-to-action:hover {
    color: #FFFFFF;
    background-color: #F8CA4D;
}

button.call-to-action.final-btn:hover {
    background-color: #EA6045; 
}

button.sign-in,
button.sign-up {
    width: 110px;
    letter-spacing: 1.6px;
}

button.sign-in {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

button.sign-up {
    color: #333333;
    background-color: #FFFFFF;
}

button.sign-up:hover,
button.sign-in:hover {
    background-color: #EA6045;
    color: #FFFFFF;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

/* NAVIGATION */

nav, .logo-box, .nav-links, .nav-search {
    height: 100px;
}

img.nav-logo {
    margin: .5rem 0;
}

nav {
    background-color: #3F5666;
}

.logo-box {
    background-color: #EA6045;
}


ul.account-buttons {
    list-style: none;
    padding: 0;
    margin: auto auto;
    
}

.nav-links {
    padding: 0;
    display: flex;
}

/* SEARCH FUNCTION */

.nav-search {
    display: flex;
    padding: 0;
}

input.form-control.search-bar {
    margin: auto auto;
}

.search {
  position: relative;
  width: 650px;
  margin: auto auto;
}

.search a {
  color: #333333;
}

.search button {
  position: absolute;
  background: transparent;
  border: 0px;
  right: 10px;
  top: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  .nav {
    background-color: #3F5666;
  }
  
  .search button {
    right: 80px;
  }
}

@media (max-width: 414px) {
  .search {
    width: 300px;
  }
  
  .search button {
    right: 10px;
  }
}


