$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* General Styles */

html {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
}

p {
    font-family: 'Roboto Slab';
    font-size: 22px;
}

a:-webkit-any-link {
    text-decoration: none;
}

p.light-on-dark,
.light-on-dark {
    color: #FFFFFF;
}

h2 span.emphasis {
    font-weight: 700;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 0;
    margin: 0 150px;
    text-align: center;
}

.container .section-title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 3.04px;
    font-size: 38px;
}

.col-md-6 {
    padding-right: 90px;
}

.jumbotron {
    margin-bottom: 0;
}

/* Podcast icon styles */

img.podcast-icons {
    height: 200px;
    border-radius: 9px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

/* Button Styles */

button.call-to-action {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1.6px;
    background-color: #EA6045;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 1rem 2.5rem;
}

button.call-to-action.final-btn {
    background-color: #F8CA4D;
}

button.sign-in,
button.sign-up {
    margin-top: 30px;
    width: 110px;
    letter-spacing: 1.6px;
}

button.sign-in {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

button.sign-up {
    color: #333333;
    background-color: #FFFFFF;
    margin-right: 40px;
}

/* Nav */

.nav-logo {
    margin-top: 5px;
}



/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
