/* PROFILE HEADER */

.profile-header-image {
  background: -moz-linear-gradient(top, rgba(63,86,102,.8) 0%, rgba(63,86,102,.4) 59%, rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,86,102,.8)), color-stop(59%,rgba(63,86,102,.4)), color-stop(100%,rgba(255,255,255,.2))), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -webkit-linear-gradient(top, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -o-linear-gradient(top, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: -ms-linear-gradient(top, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center; 
  background: linear-gradient(to bottom, rgba(63,86,102,.8) 0%,rgba(63,86,102,.4) 59%,rgba(255,255,255,.2) 100%), url("../images/maxfun_banner.jpg") no-repeat center;
  -webkit-background-size: cover;    
  -moz-background-size: cover;
  background-size: cover;
  //filter:blur(5px);
  height: 350px;
}

img.profile-icon {
    height: 240px;
    border-radius: 9px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    margin-top: 50px;
}

.profile-information {
  color: #FFFFFF;
  text-align: left;
}

.profile-top {
  display: flex;
}

.profile-title {
  font-weight: 500;
  letter-spacing: 3.04px;
  margin-top: 50px;
  margin-bottom: 0;
}

.profile-sub-text {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

.profile-classification {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1.6px;
}

.profile-rating {
  color: #F8CA4D;
  font-size: 30px;
  margin: 50px auto 0 auto;
}

.profile-rating i {
  padding-right: 5px;
  padding-left: 5px;
}

/* PROFILE NAVIGATION BAR */

.profile-navigation,
.profile-interaction-btn {
  margin: 40px 0;
}

ul.profile-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.profile-link a{
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 35px;
  font-family: 'Open Sans';
  color: #333333;
  padding-bottom: 5px;
}

li.profile-link {
  margin: 0;
}

.profile-link a:hover,
.profile-link a:active {
  border-bottom: 5px solid #EA6045;
}

button.profile-btn {
  font-weight: 500;
  letter-spacing: 1.6px;
  font-size: 20px;
  font-family: 'Open Sans';
  color: #333333;
  background-color: transparent;
  border: 1px solid #333333;
  padding: 5px 25px;
}

button.profile-btn:hover,
button.profile-btn:active {
  background-color: #EA6045;
  border: 1px solid #EA6045;
  color: #FFFFFF;
}

ul.btn-list {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn-list li {
  margin: 0;
}

hr.content-divider {
  margin: 0;
  height: 1px;
  background: #333333;
}

/* EPISODE CONTENT-BOX STYLES */

.episode {
  margin-bottom: 40px;
}

.main-content {
  margin-top: 40px;
  text-align: left;
}

.episode-top-info,
.episode-info-bottom {
  display: flex;
  justify-content: space-between;
}

.episode-info a {
  color: #333333;
}

.podcast-title {
  font-weight: 600;
}

.episode-date,
.episode-title {
  font-size: 16px;
}

.episode-title {
  margin-top: 0;
}

.episode-date {
  line-height: 24px;
}

.date-info {
  text-align: right;
}

.episode-tags,
.interactive-icons {
  margin-top: 40px;
}

.interactive-icons a {
  color: #3F5666;
  font-size: 22px;
}

i.fa-share-square {
  padding: 0 20px;
}

i.fa-gittip {
  color: #EAEAEA;
}

i.fa-share-square:hover,
i.fa-gittip:hover,
i.fa-plus-circle:hover,
i.fa-share:active,
i.fa-gittip:active,
i.fa-plus-circle:active {
  color: #EA6045;
}

button.tag {
  background-color: #EAEAEA;
  border: none;
  border-radius: 15px;
  margin: 0 5px;
}

button.tag p {
  color: #3F5666;
  font-weight: 100;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0 5px;
}

/* HOVER ICON */

.episode i.fa-play-circle {
  position: absolute;
  margin: auto;
  font-size: 58px;
  color: #EAEAEA;
  top: 35%;
  left: 40%;
  z-index: 1;
  opacity: 0;
}

i.fa-play-circle:hover {
  //opacity: 1;
}

/* SEEK BAR CONTROLS */

.seek-control {
  position: relative;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 100;
}

.seek-control .current-time {
    position: absolute;
    top: -30px;
 }

.seek-control .total-time {
     position: absolute;
     right: 0;
     top: -30px;
 }

.seek-bar {
     height: 0.25rem;
     border-radius: 2px;
     position: relative;
     cursor: pointer;
 }

.seek-bar .fill-bar {
     background: #EAEAEA;
     width: 100%;
     height: 10px;
     border-radius: 2px;
     margin-top: 60px;
 }

 .seek-bar .thumb-bar {
     position: absolute;
     height: 10px;
     width: 30%;
     background: #3F5666;
     top: 50%;
     /* #1 */
     margin-left: -0.15rem;
     margin-top: -0.15rem;
     border-radius: 2px;
     cursor: pointer;
 }

/* BIO STATS */

.profile-stats {
  display: flex;
}

.stat-box {
  height: 100px;
  width: 33%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  text-align: center;
  margin: 40px 0;
}

.middle-box {
  margin: 40px;
}

.stat-number {
  font-weight: 600;
  margin-bottom: 0;
}

.stat-title {
  font-weight: 100;
  margin-top: 0;
}

/* BIO */

.profile-bio {
  text-align: left;
}

.bio-title {
  font-weight: 600;
  margin: 0;
}

.bio-text,
.homepage,
.schedule {
  font-weight: 100;
  margin: 4rem 0;
}

.bio-text {
  line-height: 25.9px;
}

.homepage a {
  color: #70C5AF;
}

span.info-emphasis {
  color: #3F5666;
  font-weight: 600;
}

.social-media-links {
  font-size: 32px;
  margin: 4rem 0;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-tumblr-square {
  padding: 0 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #55ACEE;
}

.fa-tumblr-square {
  color: #36465d;
}

/* RECOMMENDED CONTENT */

.rec-title h4 {
  text-align: left;
  font-weight: 600;
  margin-bottom: 40px;
}

.center-rec {
  text-align: center;
  width: 200px;
}

.rec-box div.image-overlay.left {
  margin-left: 0;
}

.rec-box div.image-overlay.right {
  margin-right: 0;
}

/* PLAYER BAR */

.player-bar {
  height: 100px;
  width: 100%;
  background-color: rgba(47,52,64,.8);
  position: fixed;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  letter-spacing: 1px;
  display: none;
}

.player-bar-avatar {
  height: 80px;
  width: 80px;
  margin: 10px 15px;
}

.player-bar-podcast-title {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin: 20px 0 0 10px;
}

span.player-bar-podcast-episode {
  font-weight: 100;
}

.player-bar-function {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.player-bar-btn {
  text-align: left;
  margin-top: 20px;
}

.player-bar-btn i.fa-play-circle {
  font-size: 32px;
  margin-right: 15px;
  margin-left: 15px;
}

i.fa-chevron-circle-left,
i.fa-chevron-circle-right {
  font-size: 22px;
}

.player-control {
  position: relative;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 100;
  margin-right: 50px;
}

.player-control .player-current-time {
    position: absolute;
    left: -50px;
    top: 27px;
 }

.player-control .player-total-time {
     position: absolute;
     right: -60px;
     top: 27px;
 }

.player-seek-bar {
     height: 0.25rem;
     border-radius: 2px;
     position: relative;
     cursor: pointer;
     margin-top: 32px;
 }

.player-seek-bar .player-fill {
     background: transparent;
     width: 550px;
     height: 10px;
     border-radius: 2px;
     border: 1px solid #FFFFFF;
 }

 .player-seek-bar .player-thumb {
     position: absolute;
     height: 10px;
     width: 30%;
     background: #FFFFFF;
     top: 50%;
     /* #1 */
     margin-left: -0.15rem;
     margin-top: -0.15rem;
     border-radius: 2px;
     cursor: pointer;
 }

/* VOLUME CONTROL */

.volume-control {
  margin-left: 30px;
}

.volume-control .player-seek-bar .player-fill {
  width: 150px;
}

.volume-control {
  margin-top: 35px;
}

.volume-control .player-control .player-total-time {
  right: -30px;
  font-size: 22px;
  top: 20px;
}

.volume-control .player-control .player-current-time {
  left: -22px;
  font-size: 22px;
  top: 20px;
}