<header class="profile-header-image row">
  <div class="col-md-1 hidden-sm hidden-xs"></div>
  <div class="profile-header col-md-10 col-sm-12 row">
    <div class="col-md-3 profile-avatar">
      <img class="profile-icon" src="{{episodeHeader.episode[0].podcast_icon}}">
    </div>
    <div class="col-md-9 profile-information">
      <div class="profile-top">  
        <h3 class="profile-title">{{episodeHeader.episode[0].episode_title}}</h3>
      </div>
      <h4 class="profile-sub-text"><a ui-sref="podcast.podcastIndex({podcast_id: episodeHeader.episode[0].podcast_id})">{{episodeHeader.episode[0].podcast_title}}</a></h4>
      <h5 class="profile-classification">{{episodeHeader.episode[0].upload.date}}</h5>
      <div class="">
        <div class="seek-control">
            <div class="current-time">0:00</div>
            <div class="total-time">{{episodeHeader.episode[0].episode_length}}</div>
            <div class="seek-bar">
              <div class="fill-bar"></div>
              <div class="thumb-bar ep-header-thumb"></div>
            </div>
          </div> 
      </div>
    </div>
  </div>
  <div class="col-md-1 hidden-sm hidden-xs"></div>
    <div class="image-container">
    <img 
        class="header-background" 
        ng-src="{{episodeHeader.episode[0].podcast_banner}}">
</header>