<form role="form">
  <fieldset class="fieldset">
    <div class="email-group form-group">
      <label class="label">Enter your email</label>
      <input 
             type="email" 
             class="form-control email-input"
             placeholder="Email"
             required
             ng-model="insert">
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <div class="authenticate-btn-list">
      <input
        type="submit"
        ng-click="submit()"
        value="Retrieve Password"
        class="btn account-access-btn" />
      <input
        ng-click="cancel()"
        value="Cancel"
        class="btn account-cancel-btn" />
    </div>
  </fieldset>
  <h6 class="wrong-access help-block">You will recieve an email shortly.<br><br>Here by mistake? Let's take you back to <a href="#">sign up</a>!</h6>
</form>