<form role="form">
  <fieldset class="fieldset">
    <div class="social-media-access">
        <a href="#" class="btn social-btn facebook-btn" role="button"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
        <a href="#" class="btn social-btn twitter-btn" role="button"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
      </div>
  </fieldset>
  <fieldset class="fieldset">
    <div class="email-group form-group">
      <label class="label">Enter your email</label>
      <input 
             type="email" 
             class="form-control email-input"
             placeholder="Email"
             required
             ng-model="insert">
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <div class="form-group">
        <label class="label">Enter your password</label>
        <input 
                  type="password"
                  class="form-control password-input"
                  placeholder="•••••••••"
                  required
                  ng-model="insert">
      </div>
  </fieldset>
  <fieldset class="fieldset">
    <div class="agreement checkbox">
        <label>
          <input type="checkbox">
          <h6 class="checkbox-label">Remember me for next time!</h6>
        </label>
      </div>
  </fieldset>
  <fieldset class="fieldset">
    <div class="authenticate-btn-list">
      <input
        type="submit"
        value="Sign In"
        class="btn account-access-btn" />
      <input
        type="submit"
        value="Cancel"
        class="btn account-cancel-btn" />
    </div>
  </fieldset>
  <h6 class="wrong-access help-block">Forget your <a ui-sref="base.auth.password">password</a>?<br><br>Not yet an account holder? <a href="#">Sign up now</a>!</h6>
</form>