<nav class="nav row">
  <div class="col-md-3 col-sm-6 logo-box">
      <a href="#"><img class="nav-logo" src="images/castaway_logo.png"></a>
  </div>
  <div class="col-md-6 hidden-sm hidden-xs nav-search">
      <input type="text" class="form-control search-bar nav-bar" placeholder="Search for Podcasts">
  </div>
  <div class="col-md-3 col-sm-6 hidden-xs nav-links">
      <ul class="account-buttons">
          <li><a href="#"><button class="btn sign-in">Sign In</button></a></li>
          <li><a href="#"><button class="btn sign-up">Sign Up</button></a></li>
      </ul>  
  </div>
</nav>