<nav class="nav row">
  <div class="col-md-3 col-sm-6 logo-box">
      <a href="#"><img class="nav-logo" src="images/castaway_logo.png"></a>
  </div>
  <div class="col-md-6 hidden-sm hidden-xs nav-search">
    <div class="search">
      <ca-typeahead-search></ca-typeahead-search>
      <button type="submit"><a href="/#/search"><i class="fa fa-search"></i></a></button>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hidden-xs nav-links">
    <ul class="account-buttons">
      <li>
        <a
          class="btn btn-default sign-in"
          role="button"
          modal-control modal-id="signIn" modal-event="open">Sign In</a></li>
      <li>
        <a
          class="btn btn-default sign-up"
          role="button"
          modal-control modal-id="signUp" modal-event="open">Sign Up</a></li>
    </ul>
    <!--<ul class="account-buttons user-links">
        <li class="profile-link"><a href="#">Collection</button></a></li>
        <li class="profile-link"><a href="#">Ingrid E.</button></a></li>
    </ul>-->
  </div>
</nav>