// Active State Styles
// ========================================


.profile-link .is-active {
  border-bottom: 5px solid #EA6045;
}

.active-btn {
  background-color: #EA6045;
  color: white;
  border: none;
}