// General Styles
// ========================================

html,
body {
    overflow-x: hidden;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
    font-family: 'Roboto Slab';
    font-size: 22px;
}

a:-webkit-any-link {
    text-decoration: none;
}

li {
    display: inline;
}

.page__navigation,
.page__section {
  margin-left: 150px;
  margin-right: 150px;
}

loading-indicator {
  display: flex;
  justify-content: center;
}

.spinner {
  margin-top: 30px;
  font-size: 40px;
  color: #333333;
}