// Social Media Styles
// ========================================

.social-media-links {
  font-size: 32px;
  margin: 4rem 0;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-tumblr-square {
  padding: 0 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #55ACEE;
}

.fa-tumblr-square {
  color: #36465d;
}