  <div class="profile-navigation-bar row">
    <div class="col-md-7">
      <ul class="profile-navigation">
        <li class="profile-link"><a href="#">Episodes</a></li>
        <li class="profile-link"><a href="#">Podcasts</a></li>
        <li class="profile-link"><a href="#">Stations</a></li>
        <li class="profile-link"><a href="#">Announcements</a></li>
        <li class="profile-link"><a href="#">Reviews</a></li>
      </ul>
    </div>
    <div class="col-md-5 profile-interaction-btn">
      <ul class="btn-list">
        <li><a href="#"><button class="btn profile-btn">Follow</button></a></li>
        <li><a href="#"><button class="btn profile-btn mdl-btn">Donate</button></a></li>
        <li><a href="#"><button class="btn profile-btn">Review</button></a></li>
      </ul>
    </div>
  </div>