  <div class="profile-navigation-bar row">
    <div class="col-md-7">
      <ul class="profile-navigation">
        <li class="profile-link" ><a ui-sref=".index" ui-sref-active="is-active">Episodes</a></li>
        <li class="profile-link"><a ui-sref=".station" ui-sref-active="is-active">Stations</a></li>
        <li class="profile-link"><a ui-sref=".announcement" ui-sref-active="is-active">Announcements</a></li>
        <li class="profile-link"><a ui-sref=".review" ui-sref-active="is-active">Reviews</a></li>
      </ul>
    </div>
    <div class="col-md-5 profile-interaction-btn">
      <ul class="btn-list">
        <li><a href="#" class="btn btn-default profile-btn" role="button">Follow</a></li>
        <li><a href="#" class="btn btn-default profile-btn" role="button">Donate</a></li>
        <li><a href="#" class="btn btn-default profile-btn" role="button">Review</a></li>
      </ul>
    </div>
  </div>
  <hr class="content-divider">