<div class="profile-summary col-md-5 cold-sm-12">
      <!-- STATISTICS BASED ON PROFILE -->
  <div class="profile-stats">
    <div class="stat-box">
      <h3 class="stat-number">{{networkProfileInfo.network[0].network_followers}}</h3>
      <h5 class="stat-title">Followers</h5>
    </div>
    <div class="stat-box middle-box">
      <h3 class="stat-number">{{networkProfileInfo.network[0].network_shows}}</h3>
      <h5 class="stat-title">Podcasts</h5>
    </div>
    <div class="stat-box">
      <h3 class="stat-number">{{networkProfileInfo.network[0].network_likes}}</h3>
      <h5 class="stat-title">Likes</h5>
    </div>
  </div>
  <!-- BIO BASED ON PROFILE -->
  <div class="profile-bio">
    <h4 class="bio-title">Get to know {{networkProfileInfo.network[0].network_title}}!</h4>
    <h5 class="bio-text">{{networkProfileInfo.network[0].network_desc}}</h5>
    <h5 class="homepage"><span class="info-emphasis">Homepage:</span> <a href="{{networkProfileInfo.network[0].network_hp}}">{{networkProfileInfo.network[0].display_name}}</a></h5>
    <h5 class="schedule"><span class="info-emphasis">Location:</span> {{networkProfileInfo.network[0].network_location}}</h5>
  </div>
  <div class="social-media-links">
    <a href="{{networkProfileInfo.network[0].network_fb}}" target="_blank"><i class="fa fa-facebook-square"></i></a>
    <a href="{{networkProfileInfo.network[0].network_twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
  </div>
  <!-- RECOMMENDED CONTENT -->
  <ca-podcast-recommendations></ca-podcast-recommendations>
</div>