 <!--- HEADER --->
 <header class="hero">   
    <!--- HERO CONTENT --->
    <div class="hero-image row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="hero-title">The Way Radio Should Be</h1>
            <p class="light-on-dark hero-description">Castaway is a free podcasting app that allows you to stream, save, and collect your favorite shows in one place.</p>
            <div class="search">
              <input type="text" class="form-control search-bar" placeholder="Search for Podcasts" ng-submit="search()">
              <button type="submit"><a href="/#/search"><i class="fa fa-search"></i></a></button>
            </div>
            <a class="btn call-to-action" role="button">Sign Up For Free!</a>
            <h5 class="hidden-sm hidden-md hidden-lg"><a class="account-sign-in" href="#">Already have an account? <strong>Sign In!</strong></a></h5>
        </div>
        <div class="col-md-2"></div>
    </div>
</header>

<!--- RECOMMENDED AUDIO --->
        <div class="recommended-audio">
            
            <div class="top-rated-station row">
                
                <div>
                    <h3 class="section-title col-md-12">Top Rated Stations</h3>
                </div>
                
                <div class="top-station row">
                    
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/sysk.jpg"></a></div>
                        <h5 class="item-title">All About The Brain</h5>
                        <a href="#"><h6 class="item-creator">SYSK</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/freakonomics.jpg"></a></div>
                        <h5 class="item-title">Economics 101</h5>
                        <a href="#"><h6 class="item-creator">stephen_dubner</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/Lore.jpg"></a></div>
                        <h5 class="item-title">Scary Stories</h5>
                        <a href="#"><h6 class="item-creator">erin_mankey</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/wtfmarc.png"></a></div>
                        <h5 class="item-title">Best Comedy 2015</h5>
                        <a href="#"><h6 class="item-creator">comedy_central</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/upnext.jpeg"></a></div>
                        <h5 class="item-title">This Week in Tech</h5>
                        <a href="#"><h6 class="item-creator">mark_zz</h6></a>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                </div>
            </div>
            
            <div class="recent-episode row">
                <div>
                    <h3 class="section-title col-md-12">Most Recent Episodes</h3>
                </div>
                
                <div class="recent-episode-selections row">
                    
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/theflophouse.jpeg"></a></div>
                        <h5 class="item-title">The Flop House</h5>
                        <a href="#"><h6 class="item-creator">The Maximum Fun Network</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/99invisible.jpg"></a></div>
                        <h5 class="item-title">99% Invisible</h5>
                        <a href="#"><h6 class="item-creator">Roman Mars</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/deathsexmoney.jpg"></a></div>
                        <h5 class="item-title">Death, Sex + Money</h5>
                        <a href="#"><h6 class="item-creator">WNYC Studios</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/billmaher.jpeg"></a></div>
                        <h5 class="item-title">Real Time w/ Bill Maher</h5>
                        <a href="#"><h6 class="item-creator">HBO Podcasts</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/serial.jpeg"></a></div>
                        <h5 class="item-title">Serial</h5>
                        <a href="#"><h6 class="item-creator">This American Life</h6></a>
                    </div>
                    <div class="col-sm-6 hidden-xs hidden-md hidden-lg">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/modernlove.png"></a></div>
                        <h5 class="item-title">Modern Love</h5>
                        <a href="#"><h6 class="item-creator">WBUR & New York Times</h6></a>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                </div> 
                
                <div class="recent-episode-selections hidden-sm hidden-xs row">
                    
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/modernlove.png"></a></div>
                        <h5 class="item-title">Modern Love</h5>
                        <a href="#"><h6 class="item-creator">WBUR & New York Times</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/waitwait.jpg"></a></div>
                        <h5 class="item-title">Wait Wait Don't Tell Me</h5>
                        <a href="#"><h6 class="item-creator">NPR</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/Nerdist_Podcast_logo.png"></a></div>
                        <h5 class="item-title">The Nerdist</h5>
                        <a href="#"><h6 class="item-creator">Chris Hardwick</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/NoteToSelf.png"></a></div>
                        <h5 class="item-title">Note To Self</h5>
                        <a href="#"><h6 class="item-creator">WYNC Studios</h6></a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                      <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/anotherround.png"></a></div>
                        <h5 class="item-title">Another Round</h5>
                        <a href="#"><h6 class="item-creator">BuzzFeed</h6></a>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs"></div>
                </div>
                
            </div>
        </div> 
        
        <!--- APP --->
        
        <div class="download-app row">
            <div class="col-md-6 hidden-sm hidden-xs"></div>
            
            <div class="col-md-6 col-sm-12 light-on-dark">
                <h2 class="app-tag-line">On the go? <span class="emphasis">Get the app!</span></h2>
                <p>Our mobile app syncs perfectly with your online account, allowing you seamless entertainment from home to the office.</p>
                
                <div class="purchase-app">
                    <a href="www.apple.com"><img class="apple" src="images/landing/app-store.png"></a>
                    <a href="www.googleplay.com"><img class="google" src="images/landing/google-play.png"></a>
                </div>
            </div>
            
        </div>
        
        <!--- CREATOR SIGN UP --->
        
        <div class="creator-sign-up row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12">
                <h2 class="creator">Do you have a <span class="emphasis">great new show</span> and no way to <span class="emphasis">share it?</span></h2>
                <p>We are always looking for new content. Whether you are a network or a lone voice on the waves, we offer excellent creator support and plenty of resources.</p>
                <a class="btn call-to-action" role="button">Sign Up As A Creator!</a>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <!--- FINAL CALL TO ACTION--->
        
        <div class="final-action-call">
            
            <div class="action-call row">  
                <div class="col-md-6 hidden-sm hidden-xs"></div>
                <div class="col-md-6 col-sm-12 light-on-dark">
                    <h2 class="final-call"><span class="emphasis">Listen, Save, Share</span></h2>
                    <p>Create stations, share your favorite episodes, and connect with podcasters. All for free.</p>
                    <a class="btn call-to-action final-btn" role="button">Start An Account!</a>
                </div>
            </div>
            
            <!--- FOOTER --->
            
            <footer class="nav footer row">
                    <div class="col-md-3 hidden-sm hidden-xs nav-links">
                        <p class="copyright">All Rights Reserved, Castaway 2016 &copy;</p>
                    </div>
                    <div class="col-md-6 col-sm-12 nav-links">
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li>|</li>
                            <li><a href="#">Blog</a></li>
                            <li>|</li>
                            <li><a href="#">Contact</a></li>
                            <li>|</li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li>|</li>
                            <li><a href="#">Legal</a></li>
                            <li>|</li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs logo-box footer-logo-box">
                      <a href="#"><img class="footer-logo" src="images/castaway_logo.png"></a>
                    </div>
                </footer>
        </div>

<!--<modal>
  <div class="modal-header">
    <a href="#"><img class="modal-logo" src="images/castaway_logo.png"></a>
    <h4 class="modal-message">Welcome to Castaway!</h4>
  </div>
  <ca-sign-up-form></ca-sign-up-form>
</modal>-->

<modal>
  <div class="modal-header">
    <a href="#"><img class="modal-logo" src="images/castaway_logo.png"></a>
    <h4 class="modal-message">Nice to see you back!</h4>
  </div>
  <ca-sign-in-form></ca-sign-in-form>
</modal>