<!--- HERO CONTENT --->
<header class="hero">   
  <div class="hero-image row">
    <div class="col-md-2"></div><!--- SPACER --->
    <div class="col-md-8">
      <h1 class="hero-title">The Way Radio Should Be</h1>
      <p class="light-on-dark hero-description">Castaway is a free podcasting app that allows you to stream, save, and collect your favorite shows in one place.</p>
      <div class="search">
        <ca-typeahead-search></ca-typeahead-search>
        <button type="submit"><a href="/#/search"><i class="fa fa-search"></i></a></button>
      </div>
      <a 
        class="btn call-to-action" 
        role="button"
        modal-control modal-id="signUp" modal-event="open">
        Sign Up For Free!</a>
      <h5 class="hidden-sm hidden-md hidden-lg">
        <a class="account-sign-in" href="#">Already have an account? <strong>Sign In!</strong></a>
      </h5>
    </div>
    <div class="col-md-2"></div><!--- SPACER --->
  </div>
</header>

<!--- RECOMMENDED AUDIO --->
<div class="recommended-audio">
  <div class="top-rated-station row">
    <div>
      <h3 class="section-title col-md-12">Top Rated Podcasts</h3>
    </div>
    <div class="top-station row">
      <div class="col-md-1 hidden-sm hidden-xs"></div><!--- SPACER --->
      <ca-top-podcast-item></ca-top-podcast-item>
      <div class="col-md-1 hidden-sm hidden-xs"></div><!--- SPACER --->
    </div>
  </div>
  <div class="recent-episode row">
    <div>
      <h3 class="section-title col-md-12">Most Recent Episodes</h3>
    </div>
    <div class="recent-episode-selections row">
      <div class="col-md-1 hidden-sm hidden-xs"></div><!--- SPACER --->
      <ca-top-episode-item></ca-top-episode-item>
      <div class="col-md-1 hidden-sm hidden-xs"></div><!--- SPACER --->
    </div> 
  </div>
</div> 

<!--- APP --->
<div class="download-app row">
  <div class="col-md-6 hidden-sm hidden-xs"></div><!--- LEFT SPACER --->
  <div class="col-md-6 col-sm-12 light-on-dark">
    <h2 class="app-tag-line">On the go? <span class="emphasis">Get the app!</span></h2>
    <p>Our mobile app syncs perfectly with your online account, allowing you seamless entertainment from home to the office.</p>
    <div class="purchase-app">
      <a href="www.apple.com"><img class="apple" src="images/landing/app-store.png"></a>
      <a href="www.googleplay.com"><img class="google" src="images/landing/google-play.png"></a>
    </div>
  </div>         
</div>
        
<!--- CREATOR SIGN UP --->
<div class="creator-sign-up row">
  <div class="col-md-2"></div><!--- SPACER --->
  <div class="col-md-8 col-sm-12">
    <h2 class="creator">Do you have a <span class="emphasis">great new show</span> and no way to <span class="emphasis">share it?</span></h2>
    <p>We are always looking for new content. Whether you are a network or a lone voice on the waves, we offer excellent creator support and plenty of resources.</p>
    <a 
      class="btn call-to-action" 
      role="button"
      modal-control modal-id="signUp" modal-event="open">
      Sign Up As A Creator!</a>
  </div>
  <div class="col-md-2"></div><!--- SPACER --->
</div>
        
<!--- FINAL SECTION --->
<div class="final-action-call">
  <!--- CALL TO ACTION --->
  <div class="action-call row">  
    <div class="col-md-6 hidden-sm hidden-xs"></div><!--- LEFT SPACER --->
    <div class="col-md-6 col-sm-12 light-on-dark">
      <h2 class="final-call"><span class="emphasis">Listen, Save, Share</span></h2>
      <p>Create stations, share your favorite episodes, and connect with podcasters. All for free.</p>
      <a 
        class="btn call-to-action final-btn" 
        role="button"
        modal-control modal-id="signUp" modal-event="open">
        Start An Account!</a>
    </div>
  </div>   
  <!--- FOOTER --->
  <footer class="nav footer row">
    <div class="col-md-3 hidden-sm hidden-xs nav-links">
      <p class="copyright">All Rights Reserved, Castaway 2016 &copy;</p>
    </div>
    <div class="col-md-6 col-sm-12 nav-links">
      <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li>|</li>
        <li><a href="#">Blog</a></li>
        <li>|</li>
        <li><a href="#">Contact</a></li>
        <li>|</li>
        <li><a href="#">Terms & Conditions</a></li>
        <li>|</li>
        <li><a href="#">Legal</a></li>
        <li>|</li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs logo-box footer-logo-box">
      <a href="#"><img class="footer-logo" src="images/castaway_logo.png"></a>
    </div>
  </footer>
</div>
