<div class="col-md-1"></div>
<div class="col-md-10 content-container">
  <!-- SEARCH NAVIGATION BAR -->
  <div class="profile-navigation-bar row">
    <div class="col-md-6 col-sm-12">
      <ul class="profile-navigation search-nav">
        <li class="profile-link"><a ui-sref="base.marketingSearch" ui-active="is-active">Everything</a></li>
        <li class="profile-link"><a href="#">Episodes</a></li>
        <li class="profile-link"><a href="#">Podcasts</a></li>
        <li class="profile-link"><a href="#">Stations</a></li>
        <li class="profile-link"><a href="#">Networks</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12 search-section">
      <div class="search search-page-bar">
        <input 
               type="search" 
               class="form-control search-bar" placeholder="Search" 
               ng-model="podcastLookup">
        
        <button type="submit"><a href="#"><i class="fa fa-search"></i></a></button>
      </div>
    </div>
  </div>
  <!-- SPACE -->
  <hr class="content-divider">
  <!-- MAIN CONTENT -->
  <div class="search-main row">
    <!-- RESULTS -->
    
    <loading-indicator loading-indicator-model="searchPage.podcastsLoading"></loading-indicator>
    
    <div 
      class="search-results"
      ng-show="searchPage.podcastsLoaded">

<!--        <div ng-repeat="podcast in searchPage.podcasts.result | filter: podcastLookup | filter:{podcast:true}">-->
      <ul>
        <li ng-repeat="podcast in searchPage.podcasts.result | filter: podcastLookup">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="image-overlay">
              <a>
                <img class="podcast-avatar" src="{{podcast.podcast_icon}}">
              </a>
            </div>
              <a ui-sref="podcast.podcastIndex.index({podcast_id: podcast.podcast_id})">
                <h5 class="item-title">{{podcast.podcast_title}}</h5>
              </a>
              <a ui-sref="podcast.networkIndex.index({network_id:podcast.network_id})">
                <h6 class="item-creator">{{podcast.podcast_network}}</h6>
              </a>
          </div>
        </li> 
      </ul>
      <div ng-if="!(searchPage.podcasts.result | filter:podcastLookup).length">
        <h5>No Results</h5>
      </div>
    </div>
    
    
</div>
<div class="col-md-1"></div>