<div class="col-md-1"></div>
<div class="col-md-10 content-container">
  <!-- SEARCH NAVIGATION BAR -->
  <div class="profile-navigation-bar row">
    <div class="col-md-6 col-sm-12">
      <ul class="profile-navigation search-nav">
        <li class="profile-link"><a href="#">Everything</a></li>
        <li class="profile-link"><a href="#">Episodes</a></li>
        <li class="profile-link"><a href="#">Podcasts</a></li>
        <li class="profile-link"><a href="#">Stations</a></li>
        <li class="profile-link"><a href="#">Networks</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12 search-section">
      <div class="search search-page-bar">
        <input type="text" class="form-control search-bar" placeholder="Search">
        <button type="submit"><a href="#"><i class="fa fa-search"></i></a></button>
      </div>
    </div>
  </div>
  <!-- SPACE -->
  <hr class="content-divider">
  <!-- MAIN CONTENT -->
  <div class="search-main row">
    <!-- RESULTS -->
    <div class="search-results">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/99invisible.jpg"></a></div>
          <h5 class="item-title">99% Invisible</h5>
          <a href="#"><h6 class="item-creator">Roman Mars</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/sysk.jpg"></a></div>
          <h5 class="item-title">Stuff You Should Know</h5>
          <a href="#"><h6 class="item-creator">How Stuff Works</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/anotherround.png"></a></div>
          <h5 class="item-title">Another Round</h5>
          <a href="#"><h6 class="item-creator">BuzzFeed</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/boycrazy.jpg"></a></div>
          <h5 class="item-title">Boy Crazy</h5>
          <a href="#"><h6 class="item-creator">Alexi</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/brainstuff.jpg"></a></div>
          <h5 class="item-title">Brain Stuff</h5>
          <a href="#"><h6 class="item-creator">How Stuff Works</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/carstuff.jpeg"></a></div>
          <h5 class="item-title">Car Stuff</h5>
          <a href="#"><h6 class="item-creator">How Stuff Works</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/freakonomics.jpg"></a></div>
          <h5 class="item-title">Freakonomics Radio</h5>
          <a href="#"><h6 class="item-creator">WNYC Studios</h6></a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="image-overlay"><a href="#"><img class="podcast-avatar" src="images/podcast-icons/girlboss.jpg"></a></div>
          <h5 class="item-title">#girlboss Radio</h5>
          <a href="#"><h6 class="item-creator">Sophia Amoruso</h6></a>
      </div>
      
            
    </div>
  </div>
</div>
<div class="col-md-1"></div>