<loading-indicator loading-indicator-model="podcastAnnouncement.podcastsLoading"></loading-indicator>

<div ng-show="podcastAnnouncement.podcastsLoaded">    
  <div class="episode review row" ng-repeat="announcement in podcastAnnouncement.announcement.result">
    <div class="episode-icon col-md-4">
      <div class="image-overlay"><a class="episode-content" href="#"><img class="podcast-avatar" src="{{announcement.network_icon}}"></a></div>
    </div>
  <div class="episode-info col-md-8">
      <div class="episode-top-info">
        <a href="#"><h4 class="podcast-title">{{announcement.post_title}}</h4></a>
        <div class="date-info"><h6 class="episode-date">{{announcement.post_date}}</h6></div>
      </div>
      <a href="#"><h6 class="episode-title"><strong>Author: </strong>{{announcement.network_author}}</h6></a>
  <div class="user-text"><h6>{{announcement.post_text}}</h6></div>
      <div class="episode-info-bottom">
        <div class="interactive-icons">
          <a href="#"><i class="fa fa-gittip"></i></a>
          <a href="#"><i class="fa fa-share-square"></i></a>
        </div>
        <div class="episode-tags">
          <a href="#"><h5 class="read-more">read more</h5></button></a>
        </div>
      </div>
    </div>
  </div>
</div>