<loading-indicator loading-indicator-model="podcastEpisode.podcastsLoading"></loading-indicator>
<div ng-show="podcastEpisode.podcastsLoaded">
  <div ng-repeat="podcast in podcastEpisode.podcasts.result">
    <div class="episode row">
      <div class="episode-icon col-md-4">
        <!--<i class="fa fa-play-circle"></i>-->
        <div class="image-overlay"><a class="episode-content" href="#"><img class="podcast-avatar" src="{{podcast.podcast_icon}}"></a></div>
      </div>
      <div class="episode-info col-md-8">
        <div class="episode-top-info">
          <a href="#"><h4 class="podcast-title">{{podcast.podcast_title}}</h4></a>
          <div class="date-info"><h6 class="episode-date">{{podcast.ep_date}}</h6></div>
        </div>
        <a href="#"><h6 class="episode-title">{{podcast.latest_episode}}</h6></a>
        <div class="seek-control">
          <div class="current-time">0:00</div>
          <div class="total-time">1:14:23</div>
          <div class="seek-bar">
            <div class="fill-bar"></div>
            <div class="thumb-bar"></div>
          </div>
        </div> 
        <div class="episode-info-bottom">
          <div class="interactive-icons">
              <a href="#"><i class="fa fa-gittip"></i></a>
              <a href="#"><i class="fa fa-share-square"></i></a>
              <a href="#"><i class="fa fa-plus-circle"></i></a>
          </div>
          <div class="episode-tags">
            <a href="#"><button class="tag"><p>#{{podcast.tag_1}}</p></button></a>
            <a href="#"><button class="tag"><p>#{{podcast.tag_2}}</p></button></a>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!(podcastEpisode.podcasts.result | filter:podcastLookup).length">
        No Results.
    </div>
  </div>
</div>