<loading-indicator loading-indicator-model="podcastEpisode.podcastsLoading"></loading-indicator>
<div 
    ng-show="podcastEpisode.podcastsLoaded">
  <div>
    <div 
        class="episode row"
        ng-if="podcastEpisode.episodes.length"
        ng-repeat="episode in podcastEpisode.episodes">
      <div class="episode-icon col-md-4">
        <div class="image-overlay">
          <a class="episode-content" href="#">
            <img class="podcast-avatar" src="{{episode.podcast_icon}}">
          </a>
        </div>
      </div>
      <div class="episode-info col-md-8">
        <div class="episode-top-info">
          <a ui-sref="podcast.podcastIndex({podcast_id: podcast.podcast_id})"><h4 class="podcast-title">{{episode.podcast_title}}</h4></a>
          <div class="date-info"><h6 class="episode-date">{{episode.upload_date}}</h6></div>
        </div>
        <a href="/#/episode/index"><h6 class="episode-title">{{episode.episode_title}}</h6></a>
        <div class="seek-control">
          <div class="current-time">0:00</div>
          <div class="total-time">{{episode.episode_length}}</div>
          <div class="seek-bar">
            <div class="fill-bar"></div>
            <div class="thumb-bar"></div>
          </div>
        </div> 
        <div class="episode-info-bottom">
          <div class="interactive-icons">
              <a href="#"><i class="fa fa-gittip"></i></a>
              <a href="#"><i class="fa fa-share-square"></i></a>
              <a href="#"><i class="fa fa-plus-circle"></i></a>
          </div>
          <div class="episode-tags">
            <a href="#"><button class="tag"><p>#{{episode.tag_1}}</p></button></a>
            <a href="#"><button class="tag"><p>#{{episode.tag_2}}</p></button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
    ng-show="podcastEpisode.podcastsLoaded"
    ng-if="!podcastEpisode.episodes.length">
  <h5>No Episodes Uploaded!</h5>
 </div>