    <div class="profile-summary col-md-5 cold-sm-12">
      <!-- STATISTICS BASED ON PROFILE -->
      <div class="profile-stats">
        <div class="stat-box">
          <h3 class="stat-number">1.5K</h3>
          <h5 class="stat-title">Followers</h5>
        </div>
        <div class="stat-box middle-box">
          <h3 class="stat-number">458</h3>
          <h5 class="stat-title">Likes</h5>
        </div>
        <div class="stat-box">
          <h3 class="stat-number">10</h3>
          <h5 class="stat-title">Stations</h5>
        </div>
      </div>
      <!-- BIO BASED ON PROFILE -->
      <div class="profile-bio">
        <h4 class="bio-title">Get to know mums_the_word!</h4>
        <h5 class="bio-text">I love podcasts about true crime, board games and women's rights!</h5>
        <h5 class="homepage"><span class="info-emphasis">Homepage:</span> <a href="#">jennylewis.com</a></h5>
        <h5 class="schedule"><span class="info-emphasis">Last Visit:</span> Jan 05, 2016</h5>
      </div>
      <div class="social-media-links">
        <ui sref="#"><i class="fa fa-facebook-square"></i></ui>
        <ui sref="#"><i class="fa fa-twitter-square"></i></ui>
        <ui sref="#"><i class="fa fa-tumblr-square"></i></ui>
      </div>
      <!-- RECOMMENDED CONTENT BASED ON PROFILE -->
      <ca-podcast-recommendations></ca-podcast-recommendations>
      
    </div>