<div class="profile-summary col-md-5 cold-sm-12">
      <!-- STATISTICS BASED ON PROFILE -->
  <div class="profile-stats">
    <div class="stat-box">
      <h3 class="stat-number">{{podcastProfileInfo.podcast[0].followers}}</h3>
      <h5 class="stat-title">Followers</h5>
    </div>
    <div class="stat-box middle-box">
      <h3 class="stat-number">{{podcasts.result.podcast_number}}</h3>
      <h5 class="stat-title">Episodes</h5>
    </div>
    <div class="stat-box">
      <h3 class="stat-number">{{podcasts.result.likes}}</h3>
      <h5 class="stat-title">Likes</h5>
    </div>
  </div>
  <!-- BIO BASED ON PROFILE -->
  <div class="profile-bio">
    <h4 class="bio-title">Get to know {{podcasts.result.podcast_title}}!</h4>
    <h5 class="bio-text">{{podcasts.result.podcast_description}}</h5>
    <h5 class="homepage"><span class="info-emphasis">Homepage:</span> <a ui-sref="base.marketingHome">{{podcasts.result.display_name}}</a></h5>
    <h5 class="schedule"><span class="info-emphasis">Uploaded:</span> {{podcasts.result.podcast_schedule}}</h5>
  </div>
  <div class="social-media-links">
    <a href="{{podcasts.result.podcast_fb}}"><i class="fa fa-facebook-square"></i></a>
    <a href="{{podcasts.result.podcast_twitter}}"><i class="fa fa-twitter-square"></i></a>
    <a href="{{podcasts.result.podcast_tumblr}}"><i class="fa fa-tumblr-square"></i></a>
  </div>
  <!-- RECOMMENDED CONTENT -->
  <ca-podcast-recommendations></ca-podcast-recommendations>
</div>