<div class="profile-summary col-md-5 cold-sm-12" 
     ng-="profile in podcastProfile.podcasts.result">
      <!-- STATISTICS BASED ON PROFILE -->
      <div class="profile-stats">
        <div class="stat-box">
          <h3 class="stat-number">{{profile.followers}}</h3>
          <h5 class="stat-title">Followers</h5>
        </div>
        <div class="stat-box middle-box">
          <h3 class="stat-number">15</h3>
          <h5 class="stat-title">Episodes</h5>
        </div>
        <div class="stat-box">
          <h3 class="stat-number">{{profile.likes}}</h3>
          <h5 class="stat-title">Likes</h5>
        </div>
      </div>
      <!-- BIO BASED ON PROFILE -->
      <div class="profile-bio">
        <h4 class="bio-title">Get to know {{profile.podcast_title}}!</h4>
        <h5 class="bio-text">{{profile.podcast_description}}</h5>
        <h5 class="homepage"><span class="info-emphasis">Homepage:</span> <a ui-sref="{{profile.podcast_hp}}">maximumfun.org</a></h5>
        <h5 class="schedule"><span class="info-emphasis">Uploaded:</span> {{profile.podcast_schedule}}</h5>
      </div>
      <div class="social-media-links">
        <a ui-sref="{{profile.podcast_fb}}"><i class="fa fa-facebook-square"></i></a>
        <a ui-sref="{{profile.podcast_twitter}}"><i class="fa fa-twitter-square"></i></a>
        <a ui-sref="{{profile.podcast_tumblr}}"><i class="fa fa-tumblr-square"></i></a>
      </div>
      <!-- RECOMMENDED CONTENT BASED ON PROFILE -->
      <ca-podcast-recommendations></ca-podcast-recommendations>
      
    </div>