  <div class="profile-navigation-bar row">
    <div class="col-md-7">
      <ul class="profile-navigation">
        <li class="profile-link"><a href="#">Unplayed Episodes</a></li>
        <li class="profile-link"><a href="#">Saved Episodes</a></li>
        <li class="profile-link"><a href="#">Stations</a></li>
        <li class="profile-link"><a href="#">Following</a></li>
      </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 profile-interaction-btn">
      <ul class="btn-list">
        <li><a href="#"><button class="btn profile-btn">Create Station</button></a></li>
      </ul>
    </div>
  </div>
  <hr class="content-divider">