  <div class="profile-navigation-bar row">
    <div class="col-md-7">
      <ul class="profile-navigation">
        <li class="profile-link"><a ui-sref="podcast.userCollection.index" ui-sref-active="is-active">Unplayed Episodes</a></li>
        <li class="profile-link"><a ui-sref="podcast.userCollection.saved" ui-sref-active="is-active">Saved Episodes</a></li>
        <li class="profile-link"><a ui-sref="podcast.userCollection.station" ui-sref-active="is-active">Stations</a></li>
        <li class="profile-link"><a ui-sref="podcast.userCollection.following" ui-sref-active="is-active">Following</a></li>
      </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 profile-interaction-btn">
      <ul class="btn-list user-btn">
        <li><a href="#" class="btn btn-default profile-btn" role="button">Create Station</a></li>
      </ul>
    </div>
  </div>
  <hr class="content-divider">