  
<header class="profile-header-image row">
  <div class="col-md-1 hidden-sm hidden-xs"></div>
  <div class="profile-header col-md-10 col-sm-12 row">
    <div class="col-md-3 profile-avatar">
      <img class="profile-icon" src="../../images/podcast-icons/Podcast%20Avatar_user.png">
    </div>
    <div class="col-md-9 profile-information">
      <div class="profile-top">  
        <h3 class="profile-title">mums_the_word</h3>
      </div>
      <h4 class="profile-sub-text">Feminnasty & Fancy Free!</h4>
      <h5 class="profile-classification">Joined: Sep 04, 2015</h5>
    </div>
  </div>
  <div class="col-md-1 hidden-sm hidden-xs"></div>
</header>