  <div class="profile-navigation-bar row">
    <div class="col-md-7">
      <ul class="profile-navigation">
        <li class="profile-link"><a ui-sref="podcast.userIndex.index" ui-sref-active="is-active">Favorites</a></li>
        <li class="profile-link"><a ui-sref="podcast.userIndex.station" ui-sref-active="is-active">Stations</a></li>
        <li class="profile-link"><a ui-sref="podcast.userIndex.following" ui-sref-active="is-active">Following</a></li>
        <li class="profile-link"><a ui-sref="podcast.userIndex.review" ui-sref-active="is-active">Reviews</a></li>
      </ul>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2 profile-interaction-btn">
      <ul class="btn-list user-btn">
        <li><a href="#" class="btn btn-default profile-btn" role="button">Follow</a></li>
      </ul>
    </div>
  </div>
  <hr class="content-divider">