<div class="user-nav-dropdown">
  <div class="topbar__item-dropdown-inner">
    <header class="topbar__item-dropdown-header">
      <img src="" class="avatar">
      <h5 class="title">Jenny Lewis</h5>
      <h6 class="subtitle">subtitle</h6>
    </header>
    <div class="topbar__item-dropdown-content">
      <ul>
        <li class="topbar__item-dropdown-link">
          <a
            href="#"
            onclick="event.stopPropagation()"
            ui-sref="base.user.userEdit">Edit Profile</a>
        </li>
        <li class="topbar__item-dropdown-link">
          <a
            href="#"
            ui-sref="#!">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>